body {
    font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0;
}

header {
    align-items: baseline;
    background: black;
    display: flex;
    flex-flow: row wrap;
    line-height: 1rem;
    padding: 0 25px 5px 25px;
    position: relative;
}

h1 a {
    color: white;
    font-size: 2rem;
    font-weight: normal;
}

h1 a:hover,
h1 a:focus {
    text-decoration: none;
}

#subheading {
    color: lightgray;
    font-size: 1rem;
    margin-left: 10px;
}

main {
    display: flex;
    flex-flow: row-reverse wrap;
}

#world {
    flex: 4;
    min-width: 200px;
    padding: 20px;
}

pre {
    background-color: #eee;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1rem;
    max-height: 400px;
    max-width: 800px;
    overflow: auto;
    padding: 5px;
}

#data span {
    margin: 10px;
}

#data span:first-of-type {
    margin-left: 0;
}

#settings {
    display: grid;
    gap: 10px;
    grid-auto-columns: auto;
    grid-template-columns: repeat(10, 1fr);
    flex: 1;
    min-width: 200px;
    padding: 20px;
}

#buttons,
.setting {
    display: contents;
}

#buttons button {
    grid-column: span 3;
}

#buttons button:last-of-type {
    grid-column: span 4;
}

.setting label {
    grid-column: span 3;
    text-align: right;
}

.setting input,
.setting select {
    grid-column: span 7;
    min-width: 0;
    width: auto;
}