[package]
name = "rlifesrc-tui"
version = "0.1.0"
authors = ["AlephAlpha <alephalpha911@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rlifesrc-lib = { path = "../lib/", version = "0.1.0" }
clap = "2.33.0"
pancurses = "0.16.1"
