[package]
name = "rlifesrc-web"
version = "0.1.0"
authors = ["AlephAlpha <alephalpha911@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rlifesrc-lib = { path = "../", features = ["stdweb"] }
serde = { version = "1.0.102", features = ["derive"] }
yew = "0.10.0"
